// Import fonts & other styling
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');

// Declare color scheme variables
$EnvoyPurple: #53005C;
$EnvoyPurpleLight: #A04DA9;
$EnvoyPurpleDark: #3A0043;
$EnvoyWhite: #F8F8F8;
$EnvoySilver: #C0C0C0;

.commentModalSubmitBtn {
  background-color: $EnvoyPurple;
  color: $EnvoyWhite;
  border: 1px $EnvoyPurple solid;
    &:hover {
      background-color: transparent;
      color: $EnvoyPurple;
      border: 1px $EnvoyPurple solid;
    }
}

.commentModal {
  font-family: 'Alegreya', serif;
  font-weight: 500;
  border: 1px solid
}
