@import '~bootstrap/scss/bootstrap';

body {
  background: lightgray;
}

.navbar {
  background: #457B9D;
}
.nav-btn, .submitBtn {
  background-color: #457B9D;
  color: white;
  border: 1px #457B9D solid;
    &:hover {
      background-color: #6499B9;
      color: #14253E;
      border: 1px #5590B4 solid;
    }
}
